<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        localStorage.setItem('name', 'Dolly');
        document.write(localStorage.getItem("name"));
        // const Clickcounter = () => {
        //     if (localStorage.clickcount) {
        //      localStorage.clickcount = Number(localStorage.clickcount)+1;
        //     } else {
        //         localStorage.clickcount = 1;
        //     }
        //      <button onclick={clickCounter} type="button">Click me!</button>
        //      document.write(localStorage.clickcount);
        //      }

    </script>
  
</body>
</html>